use flake

if [[ -n "$MOLD_PATH" ]]; then
  mkdir -p ./.cargo
  cat > ./.cargo/config.toml << EOF
[target.'cfg(target_os = "linux")']
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=${MOLD_PATH}"]
EOF
  echo "INFO: .cargo/config.toml updated with mold linker path: ${MOLD_PATH}"
else
  echo "WARNING: MOLD_PATH not found. mold linker will not be configured."
fi
