use flake

if [[ -n "$MOLD_PATH" ]]; then
  mkdir -p ./.cargo
  cat > ./.cargo/config.toml << EOF
[target.'cfg(target_os = "linux")']
linker = "clang"
rustflags = [
  "-C", "link-arg=-fuse-ld=${MOLD_PATH}",
  "-C", "link-arg=-Wl,-rpath,${FUSE3_LIB_PATH}"
]
EOF
  echo "INFO: .cargo/config.toml updated with mold linker path: ${MOLD_PATH}"
  echo "INFO: .cargo/config.toml updated with fuse3 library path: ${FUSE3_LIB_PATH}"
else
  echo "WARNING: MOLD_PATH not found. mold linker will not be configured."
fi
